@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

@media only screen and (max-width: 320px) {
    header{
        background-color: red;
    }
}



.logo{
    color: #fff;
    text-decoration: none;
    font-family: anton;
    font-size: 30px;
}

nav{
    /* background-color: aqua; */
    padding: 10px 0;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    margin-right: 15px;
}

li:last-child{
    margin-right: 0;
}

a{
    text-decoration: none;
    color: #fff;
    font-family: anton;
    
}

a:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    color: #F2C12E;
}

.content{
    width: 100%;
}

.content-bio{
    display: flex;
    background-color: #595959;
    padding:30px 0 50px 50px;
}

section{
    width: 500%;
}

.section-title{
    font-family: anton;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.section-desc{
    color: #fff;
    font-family: Saira;
    font-size: 20px;
    width: 90%;
}

.section-desc-child{
    margin-bottom: 15px;
}

.aside-title{
    font-family: anton;
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}

.aside-img{
    width: 50%;
}

.aside-content-title{
    color: #fff;
    font-family: Saira;
    font-size: 20px;
}

.aside-content-desc{
    color: #fff;
    font-family: Saira;
    font-size: 15px;
}

.aside-content-desc-child{
    margin-bottom: 10px;
}